<div class="card mb-2">
    <div class="card-header row g-0">
        <div class="col-md-11">
            {{system?.name}}
        </div>
        <div class="col-md-1 d-flex justify-content-md-end">
            <fa-icon [icon]="faCircleCheck" [class]="class"></fa-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1"><label for="name">Name:</label></div>
            <div test-id="name" id="name" class="col-md-4">{{system?.name}}</div>
        </div>
    
    </div>
</div>
    