<mat-accordion>
    <mat-expansion-panel class="card mb-2 rounded" hideToggle>
        <mat-expansion-panel-header class="card-header row g-0">

            <div class="col-md-9">
                <h4>
                    {{ system.name }}
                </h4>
            </div>
            <div class="col-md-2 mt-2 d-flex justify-content-md-end">
                Status: &nbsp;<fa-icon *ngIf="!loading" [icon]="faCircleCheck" [class]="class"
                    [title]="title"></fa-icon>
                <div class="spinner-border spinner-border-sm text-primary mt-1" role="status" *ngIf="loading">
                </div>
            </div>
            <div class="col-md-1 d-flex justify-content-md-end">
                <button class="btn btn-primary" (click)="poll($event)">Poll</button>
            </div>
        </mat-expansion-panel-header>

        <div class="card-body">
            <div class="row">
                <div class="col-11">
                    <div class="row">
                        <div class="col-md-3"><label for="lastFail">Last failed check:</label></div>
                        
                        <div class="col-md-3">
                            <label for="lastOK">Last successful check:</label>
                        </div>
                        <div class="col-md-3">
                            <label for="certStatus">Certificate Status:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div test-id="lastFail" id="lastFail" class="col-md-3" [class]="dateStyle">
                            <span *ngIf="displayFailDate">{{ system.lastFailTime | date : "YYYY-MM-dd HH:mm:SS" }}</span>
                            <span *ngIf="!displayFailDate">No data</span>
                        </div>
                        <div id="lastOK" class="col-md-3" [class]="dateStyle">
                            <span *ngIf="displayOkDate">{{ system.lastOkTime | date : "YYYY-MM-dd HH:mm:SS" }}</span>
                            <span *ngIf="!displayOkDate">No data</span>
                        </div>
                        <div id="certStatus" class="col-md-3">
                            {{ certStatusText }}&nbsp;<fa-icon *ngIf="!loading" [icon]="faCertStatus" [class]="certStatusClass"
                                [title]="title"></fa-icon>
                            <div class="spinner-border spinner-border-sm text-primary mt-1" role="status" *ngIf="loading">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-outline-primary" (click)="openEditModal(system)">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>