

<!-- Toolbar -->
<div class="toolbar row" role="banner">
  <div class="col-md-1 offset-md-1 px-0">
    <a href="/">
      <img id="logo" width="40" alt="status-checker-frontend-logo" src="/assets/binoculars.png" />
    </a>
  </div>
  <div class="col-md-3 ps-0">
    <h2>Status-checker</h2>
  </div>
  <div class="col-md-6">
    <app-navbar></app-navbar>
  </div>
  <div class="col-md-1">
    <a aria-label="status-checker-frontend on github" target="_blank" rel="noopener" href="https://github.com/arizon-dread/status-checker-frontend" title="GitHub">
      <img id="github-logo" title="View on GitHub" alt="github logo" src="../assets/github-mark.svg" class="logo"/>
    </a>
  </div>
</div>

<main class="content" role="main">

  <!-- Highlight Card -->
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  

</main>

<footer>
  <a href="https://www.flaticon.com/free-icons/viewpoint" title="viewpoint icons">Viewpoint icons created by Freepik - Flaticon</a>
</footer>
